{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
      <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>
    <body>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              
              <div class="col-md-8">
                <div class="card-body">
                  <br>
                  <h1 class = "name">POST</h1>
                  <br><br>
                  <h5 class="card-title">{{details.title}}</h5>
                  <p class="card-text">{{details.body|linebreaksbr}}</p>
                  <p class="card-text"><small class="text-muted">{{details.pub_date}}</small></p>
                </div>
              </div>
            </div>
          </div>
         
    </body>
</html>