header {
    background-color: #3F5FA5;
    color: white;
    padding: 25px;
    border-bottom: 1px solid #3D3D3D;
    margin-bottom: 10px;

}
body {
    padding:50px;
    
}
.title{
    font-size: 13px;
    padding-left:25px;
}


.card{
    overflow: hidden;
    padding-left: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;

}

.card-text {
    font-size: 20px;
}
.card-title {

    font-size: 20px;
}

.card-subtitle {
    display: inline-block;
    float: right;
    font-size: 15px;
    color: #707070;
    margin-top: 10px;
}
